.agents/
.claude/
.github/
.gitnexus/
.idea/
.serena
.vscode/**
.vscode-test/**
node_modules/**
src/**
**/*.map
*.md
**/*.ts
.eslintrc.cjs
.eslint.config.cjs
*.vsix
.superpowers/
docs/
scripts/
eslint.config.*
.gitignore
.worktrees/
.codegraph/
