<div id="commit-context-menu" class="context-menu" role="menu" aria-label="Commit context menu">
  <button class="menu-item" data-action="copyRevisionNumber">Copy Revision Number</button>
  <button class="menu-item" data-action="createPatch">Create Patch...</button>
  <button class="menu-item" data-action="cherryPick">Cherry-Pick</button>
  <div class="menu-separator"></div>
  <button class="menu-item" data-action="checkoutRevision">Checkout Revision</button>
  <button class="menu-item" data-action="showRepositoryAtRevision">Show Repository at Revision</button>
  <button class="menu-item" data-action="compareWithLocal">Compare with Local</button>
  <div class="menu-separator"></div>
  <button class="menu-item" data-action="resetCurrentBranchToHere">Reset Current Branch to Here...</button>
  <button class="menu-item" data-action="revertCommit">Revert Commit</button>
  <button class="menu-item" disabled>Undo Commit...</button>
  <div class="menu-separator"></div>
  <button class="menu-item" disabled>Edit Commit Message...</button>
  <button class="menu-item" disabled>Fixup...</button>
  <button class="menu-item" disabled>Squash Into...</button>
  <button class="menu-item" disabled>Drop Commit</button>
  <button class="menu-item" data-action="interactiveRebaseFromHere">Interactively Rebase from Here...</button>
  <button class="menu-item" disabled>Push All up to Here...</button>
  <div class="menu-separator"></div>
  <button class="menu-item" data-action="newBranch">New Branch...</button>
  <button class="menu-item" data-action="newTag">New Tag...</button>
  <div class="menu-separator"></div>
  <button class="menu-item" disabled>Go to Child Commit</button>
  <button class="menu-item" data-action="goToParentCommit">Go to Parent Commit</button>
</div>
